CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/boundary/saturn/saturn.cfg,MX6QDL,MX6Q,DDR_MB=2048"
CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_WANDBOARD=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_MMC=y